---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Paul Norling" description="About Paul Norling" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Paul</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://drive.google.com/uc?export=download&id=1fr5WwLJt9cFHWWqnZRk_HCVF4Ex4BVgK"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					Experienced pipefitter with a passion for technology and a desire to transition into
					the field of software development. Throughout my career, I have honed my analytical
					and problem-solving skills, and have a proven track record of delivering high-quality
					work while adhering to strict safety and quality standards. With a strong foundation
					in math and logic, as well as an eagerness to learn and adapt, I am excited to bring my
				    technical expertise and attention to detail to the world of software development. I am 
					seeking an opportunity to leverage my transferable skills and continue growing as a 
					software developer.

				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
